@model AllWeaponsQueryModel

@{
    ViewBag.Title = "All Houses";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control">
                    <option value="">All</option>
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="WeaponPerPage"></label>
                <select asp-for="WeaponPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                    <option value="2">Price (Ascending)</option>
                    <option value="3">Price (Descending)</option>
                    <option value="4">Not rented first</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalWeapons /
        Model.WeaponPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="House"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Type"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
            !Model.Weapons.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary 
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="House"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Type"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Weapons.Any())
{
    <h2 class="text-center">No houses found by the given criteria!</h2>
}

<div class="row">
    @foreach (var weapon in Model.Weapons)
    {
        <partial name="_WeaponPartial" model="@weapon" />
    }
</div>

@*@model IEnumerable<AllWeaponViewModel>
@{
    ViewBag.Title = "All Weapon";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var weapon in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;" src="~/Uploads/@weapon.ImagesPaths.First()" alt="Weapon Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@weapon.Name</h5>
                <p class="mb-0">Engineered by: @weapon.Engineer</p>
                <p class="mb-0">Rating: @weapon.Rating</p>
                <p class="mb-0">Complexity: @weapon.Complexity</p>
                <p class="mb-0">Description: @weapon.Description</p>
              <p class="mb-0">Tags: @foreach (var tagName in weapon.TagNames)
                    {
                         <label>@tagName,</label>
                    }
                    </p>
                <p >Type: @weapon.Type</p>
            </div>
        </div>
    }
</div>*@

@*@model AllWeaponsQueryModel
@{
    ViewBag.Title = "All Weapon";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;" src="~/Uploads/ImagesPaths.First()" alt="Weapon Image">
            <div class="card-body">

                <h5 class="card-title mt-1">Name</h5>
                <p class="mb-0">Engineered by: Engineer</p>
                <p class="mb-0">Rating: Rating</p>
                <p class="mb-0">Complexity: Complexity</p>
                <p class="mb-0">Description: Description</p>
              <p class="mb-0">Tags: @foreach (var tagName in Model.TagNames)
                    {
                         <label>@tagName,</label>
                    }
                    </p>
                <p >Type: Type</p>
            </div>
        </div>
</div>
*@