@model WeaponFormModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

    <form method="post" enctype="multipart/form-data" asp-controller="Weapon" asp-action="Submit">
        <span>Select File:</span>
        <input type="file" name="postedFiles" multiple/>
        <input type="submit" value="Upload"/>
        <br/>
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>

		<div class="mb-3">
					<label asp-for="@Model.Name" class="form-label">Name</label>
					<input asp-for="@Model.Name" class="form-control" aria-required="true" />
					<span asp-validation-for="@Model.Name" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="@Model.Complexity" class="form-label">Complexity</label>
					<input asp-for="@Model.Complexity" class="form-control" aria-required="true" />
					<span asp-validation-for="@Model.Complexity" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="@Model.Description" class="form-label">Description</label>
					<input asp-for="@Model.Description" class="form-control" aria-required="true" />
					<span asp-validation-for="@Model.Description" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="TypeId"></label>
					<select asp-for="TypeId" class="form-control">
						@foreach (var type in Model.Types)
						{
							<option value="@type.Id">@type.Name</option>
						}
					</select>
					<span asp-validation-for="TypeId" class="small text-danger"></span>
				</div>
				<div>

    </form>
</html>


