@using WastelandRifleworks.Services.Data.Intefaces
@using WastelandRifleworks.Web.Infrastructure.Extensions

@model AllWeaponViewModel

@inject IEngineerService EngineerService
@inject IWeaponService WeaponService
@{
    bool isUserAgent = await EngineerService.EngineerExistsByUserIdAsync(User.GetId()!);
}

<div class="col-md-4">
                <a asp-area="" asp-controller="Weapon" asp-action="Details" asp-route-id="@Model.Id"
               class="btn">
    <div class= "card mb-3">
        <img class="card-img-top" style="width: 18rem;" src="~/Uploads/@Model.ImagesPaths.First()" alt="Weapon Image">
        <div class="card-body text-center">
                <h5 class="card-title mt-1">@Model.Name</h5>
                <p class="mb-0">Engineered by: @Model.Engineer</p>
                <p class="mb-0">Type: @Model.Type</p>
                <p class="mb-0">Description: @Model.Description</p>
                <p class="mb-0">Rating: @Model.Rating</p>
                <p class="mb-0">Complexity: @Model.Complexity</p>

            <br><p 
                class="mb-0">Tags: @foreach (var tagName in @Model.TagNames)
                    {
                    <label><span  style="background-color: lightblue;padding: 2px ; border-radius: 1px; border: 1px solid black;">@tagName</span></label>
                    }
            </p> 
            <br />
        </div>
        </a>
    </div>
</div>
